<!doctype html>
<html>
  <head><meta charset="utf-8"><title>Consent</title></head>
  <body>
  <%- include('partials/header', { user: user, env: env }) %>
    <h1>Consent</h1>
    <p>Consent challenge: <%= challenge %></p>
    <p>Requested scopes: <%= (data.requested_scope || []).join(', ') %></p>
    <form method="post" action="/auth/consent">
      <input type="hidden" name="challenge" value="<%= challenge %>" />
      <% (data.requested_scope || []).forEach(function(s){ %>
        <label><input type="checkbox" name="grant_scope" value="<%= s %>" checked /> <%= s %></label><br />
      <% }) %>
      <button type="submit">Accept</button>
    </form>
    
  </body>
</html>
